#navbody{
    background-color:#121212;

}
#nav33{
    display: flex;
    gap: 70px;
    align-items: center;
    margin-left: 700px;
    padding-top: 15px;

}

#h33{
    color: white;
}

#h45{
    color: white;
}